@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao {
    position: fixed;
    display: flex;
    background: #111;
    color: #eee;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: 10px;
    font-size: 2.5em
}

.nav, a, ul, li {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

img {
    width: 100%;
    height: 100vh;
}

/* portifolio */

#titulo-port {
    text-align: center;
    font-size: 3em;
    margin: 50px;
}

 .portfolio {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    /* background: gray; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

 .boxs {
    background: #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    /* justify-content: space-around; */
}

section img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.boxs-texto  {
    text-align: center;
    justify-content: center;
    padding: 20px;
}


     /* footer */
.footer, .parag {
    display: flex;
    background: #111;
    color: white;
    justify-content: center;
    align-items: center;   
}

.parag {
    display: flex;
    align-items: center;
}