@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao {
    position: fixed;
    display: flex;
    background: #111;
    color: #eee;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: 10px;
    font-size: 2.0em
}

.nav, a, ul, li {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

img {
    width: 100%;
    height: 100vh;
}

/* portifolio */

#titulo-port {
    text-align: center;
    font-size: 3em;
    margin: 50px;
}

 .portfolio {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    /* background: gray; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

 .boxs {
    background: #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

section  img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}


.boxs-texto > p {
    padding: 10px;
}

.boxs-texto > p a {
    font-size: 1.4em;
    padding: 20px;
    justify-content: center;
}

.boxs-texto > p a:hover {
    color: rgba(39, 39, 190, 0.705);
    transition: .4s ease;
    cursor: pointer;
}


     /* footer */
.footer .parag {
    margin-top: 20px;
    display: flex;
    background: #111;
    color: white;
    justify-content: center;
    align-items: center;  
    width: 100%;

}

@media (max-width: 710px) {
    h1 {
        text-align: center;
        font-size: 1.5em;
    }

    img {
        height: 535px;
    }
    
    .portfolio {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .boxs {
        width: 70%;
        margin:  0 auto;
    }

}